@model Capstone.Models.EventsViewModels

@{
    ViewBag.Title = "Events";
}

<h2>Upcoming Events</h2>
<hr/>
@foreach (var item in Model.Events)
{
    @Html.DisplayFor(m=>item.Title)
    @Html.DisplayFor(m => item.StartDate)
    @Html.DisplayFor(m => item.EndDate)
}

